* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    margin-left: 1em;
}
#container{
    display: flex;
    width: 15em;
    height: 50em;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #106900;
    border-radius: 50px;
    border: 3px solid black;
    margin-left: 2em;
    margin-top: 2em;
}
#poubelle-Bleue {
    background-color: #16193D;
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 50px;
    border: 3px solid wheat;
}
#poubelle-Jaune {
    background-color: #E0D42B;
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 50px;
    border: 3px solid wheat;
}
#poubelle-Marron {
    background-color: #69471E;
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 50px;
    border: 3px solid wheat;
}
#poubelle-Verte{
    background-color: #0B2E13;
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 50px;
    border: 3px solid wheat;
}
i{
    font-size: 4em;
    text-shadow: 5px 5px 5px black;
}